.top {
	border-bottom: 1px solid grey;
}

.top_main {
	width: 100%;
	margin: auto;
}

ul {
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
}

a {
	text-decoration: none !important;
}

.fa-bar-chart {
	font-size: 1.3em !important;
	color: grey;
}

.badge-danger {
	vertical-align: text-bottom !important;
}

.items_hover:hover i {
	color: red;
}

.first_line {
	border-bottom: 1px solid grey;
}

.menu img {
	width: 200px;
	height: 50px;
}

.phone {
	margin-left: 90px;
}

.menu li {
	padding: 15px 10px;
	font-size: 20px;
}

.menu a {
	color: #242424;
}

.menu a:hover  {
	color: red;
}

.tel {
	font-size: 25px;
	font-family: arial;
}


.line {
	width: 250px;
	height: 50px;
}

.icon_size {
	font-size: 25px !important;
	float: left;
}

.menu {
	font-family: arial;
}

.input_size {
	height: 50px !important;
}

.input_background {
	background: #f7f7f7;
}

.carusel {
	
}

.owl-nav {
	display: none;
}

.owl-dots {
	position: absolute;
	bottom: 0;
}

.owl-carusel {
	position: relative;
}

.active span {
	background: red !important;
}

.owl-dots .owl-dot:hover span {
	background: red !important;
}

.owl-dot {
	outline: none !important;
}

.icon {
	padding: 10px;
	display: flex;
}

.icon i {
	border: solid #ca0828;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	color: #ca0828;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-span {
	color: grey;
	font-size: 80%;
	font-weight: lighter;
}

/*product*/

/*.product {
	background: #f7f7f7;
	height: 200px;
}*/

.buy_button {
	background: #3bac00 !important;
	transition: .3s !important;
} 

.buy_button:hover {
	border-radius: 20px;
}

.product_name {
	color: grey;
}

.product_name:hover {
	text-decoration: none;
	color: grey;
}

.product_price {
	color: black;
	font-weight: bold;
	font-size: 18px;
}

.star i {
	color: #ca0848;
}

.kamin {
	margin-top: 56px !important;
}

.owl-nav {
	display: none;
}

.owl-dots {
	display: none;
}

.circle {
	width: 70px;
	height: 70px;
	background: orange;
	margin-left: 180px;
	border-radius: 50%;
	text-align: center;
	padding: 20px 0;
	color: white;
	margin-top: -50px;
}

.item_hover {
	border: 1px solid transparent; 
	transition: .5s;
}

.item_hover:hover {
	border: solid #3bac00 1px;
	color: green !important;
}

.blocks {
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f7f7f7;
}

.no_block {
	background: #fff;
	border-top: none;
}

.font_big {
	font-size: 1.2em;
}

.last .btn-sm {
	font-size: 0.9em !important;
	font-weight: lighter;
	background: #3bac00 !important;
}

.last .btn-sm:hover {
	background: #4ca000;
}

.font_5e {
	color: #5e5e5e !important; 
}

.img_nfc img {
	width: 350px;
	height: 320px;
}