top {
	border-bottom: 1px solid grey;
}

.top_main {
	width: 100%;
	margin: auto;
}

ul {
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
}

a {
	text-decoration: none !important;
}

.fa-bar-chart {
	font-size: 1.3em !important;
	color: grey;
}

.badge-danger {
	vertical-align: text-bottom !important;
}

.items_hover:hover i {
	color: red;
}

.first_line {
	border-bottom: 1px solid grey;
}

.menu img {
	width: 200px;
	height: 50px;
}

.phone {
	margin-left: 90px;
}

.menu li {
	padding: 15px 10px;
	font-size: 20px;
}

.menu a {
	color: #242424;
}

.menu a:hover  {
	color: red;
}

.tel {
	font-size: 25px;
	font-family: arial;
}


.line {
	width: 250px;
	height: 50px;
}

.icon_size {
	font-size: 25px !important;
	float: left;
}

.menu {
	font-family: arial;
}

.input_size {
	height: 50px !important;
}

.input_background {
	background: #f7f7f7;
}

.acer img {
	width: 250px;
	height: 250px;
	margin-top: 100px;
	margin-top: 100px;

}

.circle {
	width: 70px;
	height: 70px;
	background: orange;
	margin-left: 180px;
	border-radius: 50%;
	text-align: center;
	padding: 20px 0;
	color: white;
	position: absolute;
}

.acer_text .info {
	font-size: 18px;
}

.acer_text a {
	font-weight: lighter;
	color: #00a2ea;
}

.connect {
	font-weight: lighter;
}

.icon_facebook img {
	width: 30px;
	height: 30px;
}

.buy_button {
	background: #3bac00 !important;
	transition: .3s !important;
} 

.buy_button:hover {
	border-radius: 20px;
}

.comparsion:hover {
	color: red;
}

.comparsion:hover i {
	color: red;
}

.comparsion {
	color: black;
}

.card_product h3 {
	font-family: Lato;
	font-weight: bold;
	font-size: 20px;
}

.card_product img {
	width: 40px;
	height: 40px;
}

.card_product {
	background: #fff !important;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 3px;
}

/*#exam {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
}*/

.blocks {
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f7f7f7;
}