*{
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

.item1{
    padding-bottom: 60px;
}
ul{
    list-style: none;
}
.item1 li {
    float: left;
    padding: 0 5px;
}
.item1 a {
    color: #999;
}


.top{
	border-bottom: 1px solid grey;
}

.top-main, .nav1, .nav2{
	width: 100%;
	margin: auto;
	/*border: solid;*/
}
.top-main{
	font-size: .8em;
}

a{
	text-decoration: none !important;
}

.fa-bar-chart{
	font-size: 1.3em !important;
	color: grey;
}

.badge-danger{
	vertical-align: text-top !important;
}

.items_hover:hover i{
	color: red;
}

.nav1 p{
	font-size: .8em;
	display: flex;
	flex-direction: column;
}
.nav1 p span{
	font-size: 1.8em;
	font-weight: 600;
}
.nav1 img{
	width: 200px;
}

.kategoriya{
    background-color: #ca0828;
    border-radius: 5px;
    padding: .9em;
}

.nav_two{
	background: #f7f7f7;
	border-bottom: 1px solid #d3d3d3;
}

.kategoriya{
	background: #ca0828 !important;
	padding: .8em !important;
	border: none !important;
	box-shadow: none !important;
}
.qidirish button{
	background: #ca0828;
}
.qidirish input, .qidirish button, .qidirish input:focus{
	height: 50px;
	border: solid #ca0828 !important;
	box-shadow: none !important;
}
.qidirish{
	width: 50% !important;
}
.kabinet i{
	font-size: 1.8em;
}
.text{
	line-height: 0;
}
.text p{
	font-size: .75em;
}
.text h6{
	font-weight: 666;
	font-size: .9em;
}
.search{
	position: absolute;
	top: 17px;
	left: 15px;
	color: #9e9e9e;
	z-index: 15;
}

.img1{
	width: 200px;
	height: 200px;
	color: #242424 !important;
	background: #242424 !important;
}


/*carousel*/
.carousel{
	/*border: solid;*/
}
.owl-nav{
	display: none;
}
.owl-dots{
	position: absolute;
	bottom: 0;
}

.owl-carousel{
	position: relative;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background: #ca0828 !important;
}
.owl-dot{
	outline: none !important;
}

.icon{
	padding: 10px;
	/*display: flex;*/
	height: 100px;
}
.icon i{
	margin-right: 15px;
	border: solid #ca0828;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	color: #ca0828;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-span{
	color: grey;
	font-size: 80%;
	font-weight: lighter;
}

/*.Owl-carousel{
	display: flex;
}*/

.item_hover{
	border: 1px solid transparent;
}

.item_hover:hover{
	border: solid 1px #3bac00;
	color: green !important;
}

.blocks{
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f7f7f7;

}

.no_block{
	background: #fff;
	border-top: none;
}

.font_big{
	font-size: 1.2em;
}

.last .btn-sm{
	font-size: .9em !important;
	font-weight: lighter;
}

.font_5e{
	color: #5e5e5e !important;
}